body {
  width: 800px;
}
.left {
  float: left;
  background-color: #757272;
  width: 85px;
  height: 43px;
  border: 1px solid black;
  margin-left: 5px ;
}
.right {
  float: right;
  background-color: #757272;
  width: 85px;
  height: 43px;
  border: 1px solid black;
  margin-right: 5px ;
}
.section {
  background: #c5c5c5;
  padding: 10px;
  border: 1px solid #757272;
  overflow: hidden;
  margin-bottom: 10px;
}
.clear{
  clear: both;
}
.big {
  float: right;
  width: 85px;
  height: 92px;
  background-color: #757272;
  border: 1px solid black;
  margin-right: 6px;
}
.boxright {
  margin-right: 5px;
}
.smalls {
  float: right;
}
.small {
  background-color: #757272;
  width: 85px;
  height: 43px;
  border: 1px solid black;
}
.boxright .small:first-child {
  margin-bottom: 5px;
}
.center {
  margin: 0 auto;
  width: 300px;
}
.bigleft {
  float: left;
  margin-right: 5px;
  width: 140px;
  height: 92px;
  border: 1px solid black;
  background-color: #757272;
}
.longright {
  float: right;
}
.long {
  width: 140px;
  height: 43px;
  border: 1px solid black;
  background-color: #757272;
}
.longright .long:first-child {
  margin-bottom: 5px;
}